.login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.537) 0%, transparent 100%), url("https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png");
    background-size: cover;
    position: relative;
    .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 40px;
               
            }

            
        }
    }
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        form {
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around; // 위의 세개 했더니 자연스럽게 간격 맞춰짐

            input{
                height: 40px;
                border-radius: 5px;
                background-color: gray;
                color: white;
                padding-left: 10px;

                &::placeholder{ // &::은 무슨의미
                    color: lightgray;
                }
            }

            button{
                height: 40px;
                border-radius: 5px;
                background-color: red;
                color: white;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }

            span{
                color: lightgrey;
            b{
                color: white;
            }
            }
        }
        }
    }
